/*Estamos en la seccion 10 y overflow*/
body{
  background-color: #eee;
}
#over{
  width: 200px;
  height: 200px;
  overflow: scroll; /*Overflow es basicamente lo que pasa cuando un texto/ imagen / dato
  es mas grande que el espacio que ya le asignamos y por ende se ve feo

  hay varias alternativas o comportamientos:

  hidden: todo lo que no este en el area no se ve.
  visible: es el estado por defecto, donde se ve todo asi este fuera del limite.
  scroll: crea una barra y esconde lo que esta en el limite, pero puedes bajar a
  verlo. este puede ser espesificado como x para el ancho e Y para el alto.

  */
}
