/*Estamos en la seccion 9 y vemos listas*/
body{
  background-color: #eee;
}
ul{/*es el la etiqueta de lista desordenada*/
  list-style-type: none;/*esto define los estilos que tiene el indicador
  de la lista el cual puede ser ciculos, cuadrados, numeros romanos o ninguno*/
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding-left: 0px;
}
li{/*esto es la etiqueta de los elementos de la lista*/
  border-bottom: solid 1px #ddd;
  padding: 15px;
}
